<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">


    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js" ></script>
    <script src="/static/js/bootstrap.min.js" ></script>



</head>
<body>



<div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="/cabinet" class="navbar-brand d-flex align-items-center">
            <strong>Личный кабинет</strong>
          </a>
          <a href="/logout" class="navbar-brand d-flex align-items-center">
            <strong>Выход</strong>
          </a>
        </div>
      </div>



<div class="container" >

<div class="row">
<div class="col-md-5">
&nbsp;<h2>Пользователь:</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>

              </tbody>
            </table>
          </div>
</div>
<div class="col-md-7">

</div>
</div>
</div>



<div class="container" >

    </div> <!-- /container -->


</body>
</html>
